.content{
    width:400px;
    height:400px; 
    margin:0 auto;
    margin-top:50px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
    transition: 0.3s;
}

@for $i from 0 through 8 {
    .item:nth-child(#{$i+1}){
        background: hsl($i * 30% , 100%, 74%);
    }
    .content:has(.item:nth-child(#{$i+1}):hover){
        
        $r: floor($i / 3 +1 );
        // font-size:$r;
        $c: $i % 3 +1;
        // border-size:$c;
        $rows: set-nth(1fr 1fr 1fr, $r , 2fr); 
        $cols: set-nth(1fr 1fr 1fr, $c , 2fr);
        grid-template-columns: $cols;
        grid-template-rows: $rows;
    }
}



